/* NavBar.css */
.navbar {
    background-color: mediumseagreen;
    color: black;
    font-family: 'Arial Narrow Bold';
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 30px; 
    height: 30px; 
    margin-right: 10px; 
  }
  
  .logo span {
    font-size: 1.5rem;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 20px;
  }
  
  .nav-links li {
    padding: 0;
    margin: 0;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }